:root {
    --border-radius: 20px;
    --color-accent: #bf0000;
    --color-body-darker: #1f1b1b;
    --color-body:#383232;
    --color-border: #ffd9d9;
    --color-heading:#ffffff;
    --color-primary: #f0ebeb;
    --color-secondary: #d1cfcf;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Typography */

::selection {
    background: #bf0000;
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--color-body);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
    line-height: 1.1;
    font-family: 'Tangerine', cursive;
}

h1 {
    font-size: 7rem;
    margin-top: 0;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 0;
}

h3 {
    font-size: 3rem;
    font-weight: 200;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

.link {
    text-decoration: none;
    color: var(--color-heading);
}

.link__hero {
    color: var(--color-primary)
}

.link__primary {
    color: var(--color-primary);
    font-family: 'Tangerine', cursive;
    list-style: none;
    text-transform: capitalize;
}

.link__primary:hover{
    color: #bf0000;
    cursor: pointer;
    font-size: 3rem;
    transition: font-size .6s;
}

.link__social {
    color: var(--color-primary);

}

.link__social:hover {
    color: white;
    cursor: pointer;
    
}

@media screen and (min-width: 1024px) {
    .link__primary {
        font-size: 2.2rem;
        border-bottom: 1px solid var(--color-accent);
    }

    .link__primary:hover {
        font-size: 2.5rem;
        transition: font-size .8s;
        border-bottom: none;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;

}

.list__item {
    text-align: center;
    border-bottom: 1px solid var(--color-body);
}

.list__step {
    font-size: 1.3rem;
    list-style-type: circle;
    padding: .5rem;
    color: var(--color-body);
}


.list__item > a {
    text-decoration: none;
    margin-top: 0;
}

.list--secondary {
    margin-top: 0;
    padding-left: 3rem;
}

.list--inline, .list__item {
    margin:0 1rem;
}

@media screen and (min-width: 1024px){
    .list__item {
        border-bottom: 0;
    }

    .list__step {
        font-size: 1.4rem;
    }
}

/* Buttons */

.btn {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
}

.btn--primary {
    background: var(--color-body);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-body-darker);
    box-shadow: 0 0 10px 5px var(--color-body-darker);
    color: var(--color-primary);
    font-size: 1.6rem;
    outline: 0;
    text-align: center;
}

.btn--primary:hover {
    background: var(--color-accent);
    border: 1px solid var(--color-body-darker);
    color: #fff;
    transform: scale(1.1);
    transition: .4s;
    
}


.btn__submit, .btn__reset {
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-body-darker);
    
}

.btn__submit:hover, .btn__reset:hover {
    background: var(--color-accent);
    border: 1px solid var(--color-body-darker);
    color: #fff;
}

/* Inputs */

.input {
    margin: 1rem;
    padding: .5rem 1rem;
}

.input__form {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-body);
    box-shadow: 0 0 10px 2.5px var(--color-body);
    color: var(--color-body-darker);
    outline: var(--color-body);


}

::placeholder {
    color: var(--color-body-darker);
    opacity: .6;
}

/* Cards */

.card {
    height: 100vh;
    width: 100%;
}

.card--primary {
    background: var(--color-primary);
    border-radius: 25px;
    border: 1px solid var(--color-body);
    box-shadow: 0 0 10px 5px var(--color-body);
}

.card--secondary {
    background: var(--color-primary);
    border-radius: 25px;
    border: 1px solid var(--color-body);
    box-shadow: 0 0 10px 5px var(--color-primary);
}

.card__image {
    border-bottom: 2px solid #ffffff;
    height: 50vh;
    object-fit: cover;
    width: 100%;
}

.card__heading {
    background: #1f1b1b;
    border-bottom: 2px solid #ffffff;
    border-radius: 20px 20px 0 0;
    color: var(--color-primary);
    font-size: 3rem;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.card__tagline {
    background: var(--color-body-darker);
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (min-width: 1024px){
    .card--secondary:hover {
        transform: scale(1.05);
        transition: .8s;
    }

}
/* Grids */

.grid {
    display: grid;
    gap: 2rem;
    margin: 1.1rem;
}

@media screen and (min-width: 768px){
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px){
    .grid--1x4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Forms */

.form {
   width: 100%; 
   margin: 1rem;
}

.form__text-area {
    resize: none;
    overflow: scroll;
}

/* Collapsibles */
.collapsible {
    padding: 2rem auto;
}
.collapsible__header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.collapsible__heading {
    font-size: 3rem;
    margin-top: 0;
}

.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

@media screen and (min-width: 1024px){
    .collapsible {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    .collapsible__content {
        max-height: 0;
        overflow: visible;
        opacity: 1;
}

    .collapsible--expanded .collapsible__content {
        max-height: 0;
        opacity: 1;
}

}

/* block */

.block {
    padding: 1rem 2rem;
    width: 100%;
    height: 100vh;
}

.block--dark {
    background: var(--color-body);
    color: var(--color-primary);
}

.block__header {
    text-align: center;
}

.block__heading {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background: rgba(31, 27, 27, 0.75);
    border-bottom: 1px solid var(--color-accent);
    box-shadow: 0 0 10px 2px var(--color-secondary);
}
.container {
    max-width: 1440px;
    margin: 0 auto;

}

/* Navbar */

.nav {
    background: var(--color-body-darker);
    border-bottom: 1px solid var(--color-accent);
    top: 0;
    width: 100%;
}

.nav__logo {
    font-size: 4rem;
    margin-bottom: 0;
}

.nav__logo:hover {
    color: var(--color-accent);
    cursor: pointer;
    font-size: 5rem;
    transition: font-size .8s ease-out;
    
}

.logo {
    color: var(--color-accent);
}

@media screen and (min-width: 1024px){
    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav__logo {
        border-bottom: 1px solid var(--color-accent);
    }

    .nav__logo:hover {
        border-bottom: none;
    }
}

/* Hero */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(/css/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid var(--color-accent);
}

.hero__header {
    padding: 1rem;
    background: rgba(31, 27, 27, 0.75);
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px 5px var(--color-secondary);
}

.hero__heading {
    font-size: 6rem;
}

.hero__tagline {
    font-size: 1.4rem;
    margin-bottom: 1;
}

@media screen and (min-width: 1024px){
    
    .hero__heading {
        font-size: 7rem;
    }
    
    .hero__tagline {
        font-size: 1.5rem;
    }
}

/* Sidebar Social */

.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: 75px;
    width: 40px;
    
}

.sidebar__group {
    background: rgba(0, 0, 0, .7) ;
    border: 1px solid var(--color-heading);
    border-radius:0 10px 10px 0;
}

.sidebar__social {
    padding: .5rem;
}

.fa-brands:hover {
    transform: scale(1.5);
    transition: ease .7s;
    color: var(--color-accent);
}

@media screen and (min-width: 1024px){
    .sidebar {
        height: 200px;
        width: 40px;
        top: 50vh;
        transition: top .5s ease-in-out;
    }

    .sidebar:hover {
        transform: scale(1.1);
        transition: ease .6s;
    }

    .sidebar__social {
        padding: 1rem;
    }

    .fa-brands {
        transform: scale(1.5);
    }

    .fa-brands:hover {
        transform: scale(2);
    }
}

/* Process block */

.process {
    height: 100%;
}

.footer {
    background: var(--color-body-darker);
    margin-top: 1rem;
    height: 100px;
    width: 100vw;
    text-align: center;

   
}

.footer-group {
    margin-top: rem;
  
    
}

.footer__copy {
    font-size: 1.6rem;
    opacity: .5;
    margin-bottom: 0;
    padding-top: .5rem;
}

.footer__social {
    margin: 3rem;
}


