:root {
    --color-primary: #f0ebeb;
    --color-secondary: #d1cfcf;
    --color-accent: #bf0000;
    --color-heading:#ffffff;
    --color-body:#383232;
    --color-body-darker: #1f1b1b;
    --color-border: #ffd9d9;
    --border-radius: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Typography */

::selection {
    background: #bf0000;
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 7rem;
    margin-top: 0;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    font-weight: 200;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

.link {
    text-decoration: none;
}

.link__hero {
    color: var(--color-primary)
}

.link__primary {
    font-family: 'Tangerine', cursive;
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: 3rem;
    list-style: none;
}

.link__primary:hover{
    font-size: 4rem;
    color: #bf0000;
    transition: color .3s;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .link__primary {
        font-size: 2rem;
    }

    .link__primary:hover {
        font-size: 3rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;

}

.list__item > a {
    text-decoration: none;
}

.list--inline .list__item {
    margin: 2rem;
}



.btn {
    padding: 1rem 2rem;
    margin: 2rem;
    display: inline-block;

   
}

.btn--primary {
    background: var(--color-body);
    color: var(--color-primary);
    font-size: 2rem;
    border-radius: 30px;
    outline: 0;
    border: 1px solid var(--color-body-darker);
    box-shadow: 0 0 10px 2px var(--color-body);
    text-align: center;
}

.btn--primary:hover {
    background: var(--color-accent);
    color: #fff;
    border: 1px solid var(--color-body-darker);
    transform: scale(1.1);
    transition: .4s;
    
}

.btn__submit, .btn__reset {
    background: var(--color-secondary);
    color: var(--color-accent);
    border-radius: 20px;
    
}

.btn__submit:hover, .btn__reset:hover {
    background: var(--color-accent);
    color: #fff;
    border: 1px solid var(--color-body-darker)
}