:root {
    --border-radius: 20px;
    --color-accent: #bf0000;
    --color-body-darker: #1f1b1b;
    --color-body:#383232;
    --color-border: #ffd9d9;
    --color-heading:#ffffff;
    --color-primary: #f0ebeb;
    --color-secondary: #d1cfcf;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Typography */

::selection {
    background: #bf0000;
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 7rem;
    margin-top: 0;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    font-weight: 200;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

.link {
    text-decoration: none;
}

.link__hero {
    color: var(--color-primary)
}

.link__primary {
    color: var(--color-primary);
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    list-style: none;
    text-transform: capitalize;
}

.link__primary:hover{
    color: #bf0000;
    cursor: pointer;
    font-size: 4rem;
    transition: color .3s;
}

@media screen and (min-width: 1024px) {
    .link__primary {
        font-size: 2rem;
    }

    .link__primary:hover {
        font-size: 3rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

}

.list__item > a {
    text-decoration: none;
}

.list--inline .list__item {
    margin: 2rem;
}

/* Buttons */

.btn {
    display: inline-block;
    margin: 2rem;
    padding: 1rem 2rem;
}

.btn--primary {
    background: var(--color-body);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-body-darker);
    box-shadow: 0 0 10px 2px var(--color-body);
    color: var(--color-primary);
    font-size: 2rem;
    outline: 0;
    text-align: center;
}

.btn--primary:hover {
    background: var(--color-accent);
    border: 1px solid var(--color-body-darker);
    color: #fff;
    transform: scale(1.1);
    transition: .4s;
    
}

.btn__submit, .btn__reset {
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-accent);
    
}

.btn__submit:hover, .btn__reset:hover {
    background: var(--color-accent);
    border: 1px solid var(--color-body-darker);
    color: #fff;
}

/* Inputs */

.input {
    margin: 1rem;
    padding: .5rem 1rem;
}

.input__form {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-body);
    color: var(--color-body-darker);
    outline: var(--color-body);
    box-shadow: 0 0 10px 2.5px var(--color-body);

}

::placeholder {
    color: var(--color-body-darke);
}

/* Cards */

.card {
    width: 100%;
    height: 100vh;
}
.card__image {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

.card__heading {
    background: #1f1b1b;
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
    color: var(--color-primary);
    font-size: 3rem;
    margin-bottom: 0;
}
