<main>
    <div class="sidebar">
        <ul class="list sidebar__group">
            <li class="sidebar__social icon icon-ig"><a class="link link__social" target="_blank" href="https://www.instagram.com/davinchleatherco/"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="sidebar__social icon icon-fb"><a class="link link__social" target="_blank" href="https://www.facebook.com/davinchleatherco/"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
    </div>
    <section class="block block--image">
        <header class="block__header">
            <h2 class="block__heading about__heading">About Us</h2>
        </header>
        <div class="about">
                <img class="about__image" src="/css/images/about-me.jpg" alt="">
            <div class="tagline-group">
                <p class="about_tagline">Davinch Leather Co. was started with one goal in mind, that is to provide a product that will withstand the daily wear and tear that life throws at you.  Jeremy Sluder has been and leather artisan for five six plus years.  The Davinch Leather brand takes influence from Japanese and European style leather crafting and design.</p>
                <p class="about__tagline">Each item is crafted by hand with no machine involved in any step of the process.  This allows the artisan to focus on every detail of the build.  There is no mass production here at davinch.  We know each and every person has there individual style, why not have a leather good that you can create to fit that style.  Thank you for taking the time to find this page and please feel free to reach out if you have any questions.</p>
            </div>
        </div>
    </section>
</main>