<section class="block container">
    <header class="block__header">
        <h2 class="block__heading" style="color: black;">heading 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque?</p>
    </header>
    <div class="card card--primary">
        <h3 class="card__heading">Step one</h3>
        <img class="card__image" src="/css/images/background.jpg" alt="">
    </div>
</section>
<section class="block block--dark container">
    <header class="block__header">
        <h2 class="block__heading">heading 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque?</p>
    </header>
    <div class="card card--secondary">
        <h3 class="card__heading">Step one</h3>
        <img class="card__image" src="/css/images/background.jpg" alt="">
    </div>
</section>