
<picture class="custom">
    <div class="custom-group">
        <img class="custom__image" src="/css/images/20190224_103538.jpg" alt="">
        <img class="custom__image" src="/css/images/20190310_184714.jpg" alt="">
        <img class="custom__image" src="/css/images/20180420_130407.jpg" alt="">
        <img class="custom__image" src="/css/images/20180925_152946.jpg" alt="">
        <img class="custom__image" src="/css/images/20181110_090801.jpg" alt="">
        <img class="custom__image" src="/css/images/20190107_114913.jpg" alt="">
    </div>
</picture>