<form class="form" action="">
    <div>
        <input class="input input__form" type="text" placeholder="Name" id="name" name="name" required>
    </div>  
    <div> 
        <input class="input input__form" type="email" placeholder="Email" name="email" required minlength="5" maxlength="200">
    </div>
    <div>
        <textarea class="input input__form form__text-area" name="description" id="" cols="25" rows="10" required placeholder="Please describe the custom leather good item you wish to create..."></textarea>
    </div>
    <div>
        <button class="btn btn--primary btn__submit" type="submit">Submit</button>
        <button class="btn btn--primary btn__reset" type="reset">Clear</button>       
    </div>
</form>