<div class="grid grid--1x2 grid--1x4">
    <div class="card card--primary">
        <h3 class="card__heading">Step one</h3>
        <img class="card__image" src="/css/images/background.jpg" alt="">
        <ul class="list list--inline">
            <li class="list__item">heading 1</li>
            <li class="list__item">heading 2</li>
            <li class="list__item">heading 3</li>
            <li class="list__item">heading 4</li>
        </ul>
    </div>
    <div class="card card--primary">
        <h3 class="card__heading">Step one</h3>
        <img class="card__image" src="/css/images/background.jpg" alt="">
        <ul class="list list--inline">
            <li class="list__item">heading 1</li>
            <li class="list__item">heading 2</li>
            <li class="list__item">heading 3</li>
            <li class="list__item">heading 4</li>
        </ul>
    </div>
    <div class="card card--primary">
        <h3 class="card__heading">Step one</h3>
        <img class="card__image" src="/css/images/background.jpg" alt="">
        <ul class="list list--inline">
            <li class="list__item">heading 1</li>
            <li class="list__item">heading 2</li>
            <li class="list__item">heading 3</li>
            <li class="list__item">heading 4</li>
        </ul>
    </div>
    <div class="card card--primary">
        <h3 class="card__heading">Step one</h3>
        <img class="card__image" src="/css/images/background.jpg" alt="">
        <ul class="list list--inline">
            <li class="list__item">heading 1</li>
            <li class="list__item">heading 2</li>
            <li class="list__item">heading 3</li>
            <li class="list__item">heading 4</li>
        </ul>
    </div>
</div>